@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}


 






#gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    gap: 70px;
    margin-top: 100px;
    margin-bottom: 60px;
}

#gallery article {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

#gallery article .cardtext {
    display: flex;
    width: 100%;
    margin: 20px 0 0 0;
    justify-content: space-between;
    color: #901C1C;
}

#gallery article a {
    cursor: pointer;
    text-decoration: none;
}

#gallery article img,#gallery article video {
    cursor: pointer;
    object-fit: cover;
    height: 300px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

#gallery article img:focus {
    outline: 0;
    box-shadow: 0 0 0 6px rgba(255, 81, 0, 0.5);
}

#gallery article video:focus {
    outline: 0;
    box-shadow: 0 0 0 6px rgba(255, 81, 0, 0.5);
}

#gallery article h2 {
    display: flex;
    font-weight: 400;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

#gallery article .likes {
    display: flex;
}

#gallery article .likes .likes-number {
    font-weight: 400;
    font-size: 24px;
    padding-right: 5px;
}

#gallery article .likes button {
    margin: 0px;
    border-radius: 5px;
    background: no-repeat;
    background-position: center center;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
}



/* lightbox */

#lightbox-background img {
    display: flex;
    margin: auto;
    margin-top: 30px;
    max-width: 60%;
    max-height: 90%;
}

#lightbox-background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.8);
    color: #901C1C;
    font-size: 100px;
}


#lightbox-background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.8);
    color: $color-primary;
    font-size: 100px;
}
  
#lightbox-background img {
    display: flex;
    margin: auto;
    margin-top: 30px;
    z-index: 20;
    max-width: 60%;
    max-height: 90%;
}
  
  
#lightbox-background video {
  display: flex;
  margin: auto;
  margin-top: 30px;
  z-index: 20;
  max-width: 60%;
  max-height: 90%;
      
}
  
  
  
  
#lightbox-close,#lightbox-previous,#lightbox-next {
    position: fixed;
    cursor: pointer;
}
  
#lightbox-close {
    font-size: 70px;
    right: 25px;
    top: 0;
}
  
#lightbox-previous {
    left: 100px;
    top: 40%;
}
  
#lightbox-next {
    right: 100px;
    top: 40%; 
}



/*Contact Form*/
.smFont {
  font-size: 16px;
}

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.8);
}

.content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #DB8876;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}

.modal-body {
  padding: 0 8% 15px 6%;
  margin: 0 auto 15px auto;
}

#modal-title {
  color: #000;
  font-family: DM Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
}

label {
  font-family: var(--font-default);
  color: #312E2E;
  font-size: 25px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 0px;
}

input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}

.button {
  background: #901C1C;
  width: 150px;
  margin-top: 0.5em;
  padding: 1em;
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  border: 0;
}


.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
  height: 48px;
}

#textarea {
  height: 150px;
}

.form
a[
  a-error]::after {
  content: attr(
    a-error);
  font-size: 0.6em;
  color: #e54858;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}

.form
a[
  a-error-visible=true]::after {
  opacity: 1;
}

.form
a[
  a-error-visible=true] .text-control {
  border: 2px solid #e54858;
}

.form
a[
  a-error-visible=false] .text-control {
  border: 2px solid #3876ac;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
  background-color: #DB8876;
  background-size: 32px;
  border: none;
}

.formError {
  content: attr(
    a-error);
  font-size: 0.6em;
  color: #e54858;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}

.
a-sent {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  max-height: 850px;
  position: relative;
}

.
a-sent p {
  width: 309px;
  font-weight: 400;
  font-size: 36px;
  color: #ffffff;
  text-align: center;
  margin: 18% 0;
}

.
a-sent img {
  padding-top: 40px;
  width: 50%;
}

@media only screen and (max-width: 768px) { 
  #gallery{
    margin-top: 45px;
    margin-left: 3%;
    margin-right: 3%;
  }

  .contact_button{
    position: initial;
    font-size: 15px;
    width: 120px;
    padding: 3px;
    height: 50px;
    margin: 2%;
  }

  #main #photograph-header{
    margin: 0px;
    padding: 10px;
  }
  

  #main #photograph-header img{
    height: 150px;
    width: 150px;
    top: 0%;
  }

  #main #photograph-header h2{
    font-size: 30px;
  }

  .filters{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  #choice-title {
    position: inherit;
    display: flex;
    justify-items: center;
    
  }

  #choice-menu{
     margin-left: 10px;
  }

  .content{
    right: 3%;
  }
  

}

